# Package managers #
####################
node_modules

# Vendors #
###########
app/assets/vendors/bower

# Distributions #
#################
app/assets/styles/dist
app/assets/scripts/dist

# Logs #
########
*.log

# OS generated #
################
.DS_Store

# IDE #
#######
.idea
