/******************** path ********************/
@ch-util__path_bower: '../../vendors/bower';

/******************** mardding ********************/
@ch-util__mardding_smaller: 6px;
@ch-util__mardding_small: 12px;
@ch-util__mardding_large: 18px;
@ch-util__mardding_larger: 24px;
@ch-util__mardding_largest: 30px;

/******************** size ********************/
@ch__size_timeline-item-point: 24px;

/******************** width ********************/
@ch__width_main: 720px;
@ch__width_timeline-icon: 30px;
@ch__width_timeline-image: 90px;

/******************** height ********************/
@ch__height_header-top: 48px;
@ch__height_header-action: 42px;
@ch__height_timeline-item-title: 36px;
@ch__height_timeline-item-row: 36px;

/******************** color ********************/
@ch-util__color_white: #fff;
@ch-util__color_gray-lightest: #fbfbfc;
@ch-util__color_gray-lighter: #e7e8e9;
@ch-util__color_gray-light: #dedede;
@ch-util__color_gray: #aaabb3;
@ch-util__color_gray-dark: #939598;
@ch-util__color_gray-darker: #6f7380;
@ch-util__color_gray-darkest: #222;
@ch-util__color_black: #000;
@ch-util__color_red: #e74532;
@ch-util__color_green: #57af99;
@ch-util__color_blue: #3597d3;
@ch-util__color_navy: #4c5565;

@ch__color_base: @ch-util__color_gray-darkest;
@ch__color_link: @ch-util__color_gray-dark;
@ch__color_link-hover: @ch__color_link;

/******************** background ********************/
@ch__background_base: @ch-util__color_gray-light;
@ch__background_main: @ch-util__color_gray-lightest;

/******************** border ********************/
@ch__border_base: 2px solid @ch-util__color_gray-light;

/******************** border ********************/
@ch-util__border-radius_small: 3px;
@ch-util__border-radius_large: 5px;

/******************** font-family ********************/
@ch__font-family_base: Roboto;

/******************** font-size ********************/
@ch-util__font-size_16: 16px;
@ch-util__font-size_18: 18px;
@ch-util__font-size_30: 30px;
@ch-util__font-size_36: 36px;
@ch-util__font-size_42: 42px;

@ch__font-size_base: 13px;

/******************** font-weight ********************/
@ch-util__font-weight_boldest: 700;
@ch-util__font-weight_bolder: 500;

@ch__font-weight_base: 400;

/******************** box-shadow ********************/
@ch-util__box-shadow_light: 2px 2px 4px rgba(0, 0, 0, 0.2);
