<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>n-1</title>

    <link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png">
    <link rel="stylesheet" href="assets/styles/dist/app.css">

    <!--[if lt IE 9]>
    <script src="assets/scripts/dist/shared-top.js"></script>
    <![endif]-->
</head>
<body ng-app="app" ng-controller="TimelineController">
    <main class="ch-main">
        <header class="ch-header">
            <div class="ch-header__container">
                <div class="ch-header__top">
                    <p class="ch-header__title">Hao CHANG</p>

                    <div class="ch-header__top-left">
                        <p class="ch-header__top-left-row">#9121411</p>

                        <p class="ch-header__top-left-row">By Roland Smith</p>
                    </div>
                    <div class="ch-header__top-right">
                        <span class="ch-header__top-right-icon_first"><i class="fa fa-check-circle"></i></span>
                        <span class="ch-header__top-right-icon"><i class="fa fa-times-circle"></i></span>
                    </div>
                </div>
                <div class="ch-header__bottom">
                    <div class="ch-header__bottom-menu">
                        <div class="ch-header__bottom-menu-item">
                            <span class="ch-header__bottom-menu-item-icon"><i class="fa fa-binoculars"></i></span>
                            <span class="ch-header__bottom-menu-item-count">4</span>
                            <span class="ch-header__bottom-menu-item-text">sent</span>
                        </div>
                        <div class="ch-header__bottom-menu-item">
                            <span class="ch-header__bottom-menu-item-icon"><i class="fa fa-fire"></i></span>
                            <span class="ch-header__bottom-menu-item-count">3</span>
                            <span class="ch-header__bottom-menu-item-text">apt</span>
                        </div>
                        <div class="ch-header__bottom-menu-item">
                            <span class="ch-header__bottom-menu-item-icon"><i class="fa fa-tree"></i></span>
                            <span class="ch-header__bottom-menu-item-count">6</span>
                            <span class="ch-header__bottom-menu-item-text">repeat</span>
                        </div>
                        <div class="ch-header__bottom-menu-item">
                            <span class="ch-header__bottom-menu-item-icon"><i class="fa fa-book"></i></span>
                            <span class="ch-header__bottom-menu-item-count">2</span>
                            <span class="ch-header__bottom-menu-item-text">missed</span>
                        </div>
                    </div>
                    <div class="ch-header__bottom-actions">
                        <div class="ch-header__bottom-action ch-util__flex-item_grow-2">
                            <button class="ch-header__bottom-action-button" disabled><i
                                    class="fa fa-tachometer"></i><span>Next Step: Apt with H. Chang</span></button>
                        </div>
                        <div class="ch-header__bottom-action ch-util__flex-item_grow-1">
                            <button class="ch-header__bottom-action-button" disabled><i class="fa fa-user"></i><span>H. Chang</span>
                            </button>
                        </div>
                        <div class="ch-header__bottom-action ch-util__flex-item_grow-1">
                            <button class="ch-header__bottom-action-button"
                                    ng-click="openTaskForm()"><i class="fa fa-plus"></i><span>Add Task</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="ch-content">
            <div id="timeline-container" class="ch-timeline-container">
                <div id="timeline" class="ch-timeline">
                    <div class="ch-timeline__day"
                         ng-repeat="date in dates | orderBy:'dateString':true track by $index"
                         ng-class="{'ch-util__active': isDateActive(date)}">
                        <div class="ch-timeline__day-title">
                            <span class="ch-timeline__day-title-text"
                                  ng-bind="getDateTitle(date)"></span>
                        </div>
                        <div class="ch-timeline__day-block">
                            <ul class="ch-timeline__list">
                                <li ng-repeat="item in date.items | orderBy:'date.timestamp':true track by $index"
                                    ng-class="isTaskInverted(item, $parent.$even, $even) ? 'ch-timeline__item_inverted' : 'ch-timeline__item'">
                                    <div class="ch-timeline__item-point"></div>
                                    <div class="ch-timeline__item-title">
                                        <p class="ch-timeline__item-title-row-1"><span
                                                class="ch-timeline__item-title-icon"><i
                                                class="fa fa-calendar"></i></span><span
                                                class="ch-timeline__item-title-text"
                                                ng-bind="item.type"></span></p>

                                        <p class="ch-timeline__item-title-row-2"
                                           ng-bind="item.date.hours + ':' + item.date.minutes"></p>
                                    </div>
                                    <div class="ch-timeline__item-panel">
                                        <div class="ch-timeline__item-panel-container">
                                            <div class="ch-timeline__item-panel-row">
                                                <div class="ch-timeline__item-date-left"
                                                     ng-bind="item.date.day"></div>
                                                <div class="ch-timeline__item-date-right">
                                                    <p class="ch-timeline__item-day"
                                                       ng-bind="item.date.dayName"></p>

                                                    <p ng-bind="item.date.monthName + ' ' + item.date.year"></p>
                                                </div>
                                            </div>
                                            <div class="ch-timeline__item-panel-row"
                                                 ng-if="isTitleRowShown(item)">
                                                <div class="ch-timeline__item-panel-icon"><i
                                                        class="fa fa-info-circle"></i></div>
                                                <div class="ch-timeline__item-panel-title"
                                                     ng-bind="item.title"></div>
                                            </div>
                                            <div class="ch-timeline__item-panel-row"
                                                 ng-if="isImageRowShown(item)">
                                                <div class="ch-timeline__item-panel-image"><img
                                                        ng-src="assets/images/{{ item.image }}"></div>
                                                <div class="ch-timeline__item-panel-person">
                                                    <h3>O. Prime</h3>

                                                    <p><a href="mailto:abc@abc.com">abc@abc.com</a></p>

                                                    <p>+61 402 223 344</p>
                                                </div>
                                            </div>
                                            <div class="ch-timeline__item-panel-row">
                                                <div class="ch-timeline__item-panel-icon"><i class="fa fa-pencil"></i>
                                                </div>
                                                <div class="ch-timeline__item-panel-text">
                                                    <p ng-bind="item.description"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ch-timeline__item-panel-by">
                                            <p ng-bind="'by ' + item.author"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="task-form" class="ch-task-form">
            <div class="ch-task-form__title">
                <h3>Add a Task</h3>
            </div>
            <hr class="ch-task-form__divider">
            <div class="ch-form-container">
                <form class="ch-form" name="taskForm" novalidate>
                    <div class="ch-form__row">
                        <div class="ch-form__field">
                            <label for="task-field-year" class="ch-form__label">Year</label>
                            <input type="text" id="task-field-year" class="ch-form__input" name="year" readonly
                                   ng-model="taskYear">
                        </div>
                        <div class="ch-form__field">
                            <label for="task-field-month" class="ch-form__label">Month</label>
                            <input type="text" id="task-field-month" class="ch-form__input" name="month" readonly
                                   ng-model="taskMonth">
                        </div>
                        <div class="ch-form__field">
                            <label for="task-field-day" class="ch-form__label">Day</label>
                            <select id="task-field-day" class="ch-form__input" name="day"
                                    ng-model="taskDay"
                                    ng-options="option.name for option in getTimeOptions('day') track by option.value">
                            </select>
                        </div>
                    </div>
                    <div class="ch-form__row">
                        <div class="ch-form__field">
                            <label for="task-field-hours" class="ch-form__label">Hours</label>
                            <select id="task-field-hours" class="ch-form__input" name="hours"
                                    ng-model="taskHours"
                                    ng-options="option.name for option in getTimeOptions('hours') track by option.value">
                            </select>
                        </div>
                        <div class="ch-form__field">
                            <label for="task-field-minutes" class="ch-form__label">Minutes</label>
                            <select id="task-field-minutes" class="ch-form__input" name="minutes"
                                    ng-model="taskMinutes"
                                    ng-options="option.name for option in getTimeOptions('minutes') track by option.value">
                            </select>
                        </div>
                    </div>
                    <div class="ch-form__row">
                        <div class="ch-form__field">
                            <label for="task-field-type" class="ch-form__label">Type</label>
                            <select id="task-field-type" class="ch-form__input" name="type"
                                    ng-model="taskType"
                                    ng-options="option.name for option in getTaskTypeOptions() track by option.value">
                            </select>
                        </div>
                        <div class="ch-form__field">
                            <label for="task-field-title" class="ch-form__label">Title (required and shorter than
                                12)</label>
                            <input type="text" id="task-field-title" class="ch-form__input" name="title"
                                   ng-model="taskTitle"
                                   ng-required="true"
                                   ng-maxlength="12">
                        </div>
                    </div>
                    <div class="ch-form__row">
                        <div class="ch-form__field">
                            <label for="task-field-description" class="ch-form__label">Description</label>
                            <textarea id="task-field-description" class="ch-form__input_textarea" name="description"
                                      readonly
                                      ng-model="taskDescription"></textarea>
                        </div>
                    </div>
                    <hr class="ch-task-form__divider">
                    <div class="ch-form__row_buttons">
                        <button class="ch-button_submit"
                                ng-click="addTask()"
                                ng-disabled="isSubmitButtonDisabled()">Submit
                        </button>
                        <button type="submit"
                                ng-click="closeTaskForm()">Close
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="assets/scripts/dist/shared-bottom.js"></script>
</body>
</html>
